In [2]:
import pandas as pd
dataset=pd.read_csv("Social_Network_Ads (2).csv") 
dataset.head(5)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [4]:
dataset.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
dataset.shape   ``

(400, 3)

In [5]:
x=dataset.iloc[:,:-1]
y=dataset["Purchased"]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [12]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import root_mean_squared_error
model =DecisionTreeClassifier()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [17]:
print(x_test)
print(y_pred)
rmse=root_mean_squared_error(y_pred,y_test)
print(rmse)

     Age  EstimatedSalary
343   47            51000
178   24            23000
135   23            63000
384   57            33000
27    47            30000
..   ...              ...
238   46            82000
287   48           138000
33    28            44000
322   41            52000
254   50            44000

[80 rows x 2 columns]
[1 0 0 1 1 1 0 0 0 1 0 1 0 0 0 0 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 1 0 1 1 0 1 1 0 1 0 1 0 0 0 0 0 1 0 0 1 0 0 1 1 1 1 1 0 0 0 1 1 1 0
 1 1 0 0 0 0]
0.3535533905932738

In [14]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,y_pred)

print(r2)

0.47916666666666674