In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [2]:
df=pd.read_csv("Salary_dataset.csv")
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [3]:
x=df.iloc[:,1:-1].values
y=df.iloc[:,-1].values
y

array([ 39344.,  46206.,  37732.,  43526.,  39892.,  56643.,  60151.,
        54446.,  64446.,  57190.,  63219.,  55795.,  56958.,  57082.,
        61112.,  67939.,  66030.,  83089.,  81364.,  93941.,  91739.,
        98274., 101303., 113813., 109432., 105583., 116970., 112636.,
       122392., 121873.])

In [4]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.05)

In [5]:
model = RandomForestRegressor(n_estimators=10,random_state=0)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [6]:
print(x_test)
print(y_pred)
rmse=root_mean_squared_error(y_pred,y_test)
print(rmse)

[[6. ]
 [3.3]]
[88979.5 61518.2]
7348.872467596643

In [7]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,y_pred)

print(r2)

0.7018630287852615